# Disable Directory listing
Options -Indexes

# block files which needs to be hidden, specify .example extension of the file
<Files ~ "\.(env|env.example|.editorconfig|composer.json|composer.lock|package.json|package-lock.json|xml|config.js|md|gitignore|.gitattributes|.styleci.yml|artisan)$">
    Order allow,deny
    Deny from all
</Files>
